p {
    color: blue;
}

#header {
    background-color: #cbcbcb;
}

#infoleft,
#bioRight {
    border: 2px solid black;
}

#info {
    background-color: #D3D3D3;
}

#skillsContainer {
    display: flex;
    border: 2px solid black;
    align-content: space-around;
    justify-content: space-around;
    background-color: #D3D3D3;
}
.skillKnob {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    display: inline-block;

}

#bodyContainer{
    background-color: #1A1F4E;
    height: 100vh;
}